# Ignore everything in repository root 
/*

# Files to not ignore
!/.gitignore
!/.gitattributes
!/ReinforcementLearning.sln
!/ReinforcementLearning.sln.DotSettings
!/README.md
!/vld.props

# Folders to not ignore
!/Data/
!/3rdParty/

# Folders to ignore only partially
!/Minigin/
/Minigin/Win32/
/Minigin/x64/
!/2048AI/
/2048AI/Win32
/2048AI/x64/